



.storeButton{
    width: 100%;
    
}

.buttonCatalog{
    background-color: $mainColor;
    
    
}

.buttonClothesType{
    background-color: #dcd135;
    

}

.buttonClothesDetail{
    background-color: #64dc35;

}

.catalogMenu{
    display: flex;
    gap: 10px;
}