
body{
    width: 100%;
    margin: 0px;
    background-color: black;
}

.cardImgStyle{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.buttonCatalog{
    background-color: #dc3545;
    
    
}
.buttonClothesType{
    background-color: #dcd135;
    

}

.buttonClothesDetail{
    background-color: #64dc35;

}

.catalogMenu{
    display: flex;
    gap: 10px;
}

ul li{
    text-decoration: none;
    list-style: none;
}
li a{
    text-decoration: none;
    list-style: none;
    color: black;
}

.hoverable{
    color: white;
    transition: all 1s;

}
.hoverable:hover{
    color: rgb(179, 114, 16);
    transition: all 1s;

}

.flexImages{
    display: flex;
    justify-content: center;
}


/* STYLE PARA MOBILE */

  @media screen and (max-width:768px) {




  }




/* STYLE PARA PC */

@media screen and (min-width:1000px) {
   


.mainCarousel{
    max-width: 900px;
    max-height: 550px;
}


}


